body {
    
    background-image:  url("bratz6.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
} 

#box1{
	display:flex;
	justify-content:center;
}

#box {
    
    width: 200px;
    min-height: 500px;
    margin: 0 auto;
    padding: 5px;
    border: 10px;
    border-color: purple;
    border-style: solid;
	display:flex;
}

div[id='bratz-'] {
    width: 130px;
    height: 350px;
    border: 2px solid black;
    margin: 10px;
    padding:50px;
    float: left; 
    text-align: left; 
	grid-gap: 5em;
	display:flex;
}

#bratz-1 {
    
    width: 170px;
    height: 350px;
    border: 2px solid black;
    margin: 10px;
    padding:50px;
    float: left; 
    text-align: left; 
}

#bratz-2 {
    
    width: 170px;
    height: 350px;
    border: 2px solid black;
    margin-left: 10px;
    padding:50px;
    float: left; 
    text-align: left; 
}

#bratz-3 {
    
    width: 170px;
    height: 350px;
    border: 2px solid black;
    margin: 10px;
    padding: 50px;
    float: right; 
    text-align: left; 
}

.bratz {
    
    font-family: 'Abril Fatface';
    height: 80px;
  	width: 300px;
  	background-color: #E8DAEF;
  	border-radius: 30px;
    border: 5px solid #570F5C ;
    padding: 10px;
    text-align: center;
    font-size: 19px;
}

#cloe-talk {
    
    position: absolute;
    right: 900px;
    display: none;
}

#sasha-talk {
    
    position: absolute;
    left: 400px;
    bottom: 100px;
    display: none;
}

#yasmin-talk {
    
    position: absolute;
    top: 100px;
    left: 500px;
    display: none;
}